@import '../../styles/variables.scss';

.bio {
  @include scale(margin-bottom, 24px);

  .author-description {
    @include scale(column-gap, 12px);
    display: flex;
    align-items: center;
  }

  .author-image {
    border-radius: 100%;
    margin-bottom: 0;

    @include on-mobile {
      @include scale(width, 70px);
      @include scale(height, 70px);
      @include scale(min-width, 70px);
    }
  }

  .author-name {
    display: flex;
    flex-direction: column;
    @include scale(row-gap, 4px);

    @include on-mobile {
        @include scale(row-gap, 2px);
    }
  }

  .metadatas {
    display: flex;
    align-items: center;
    @include scale(column-gap, 4px);
  }

  .author-name-prefix {
    font-size: 90%;

    @include on-mobile {
      @include scale(font-size, 12px);
    }
  }

  .author-name-content {
    @include scale(padding, 2px 6px);
    @include scale(border-radius, 8px);
    display: inline-block;
    font-size: 95%;
    font-weight: bolder;
    transform-origin: center;
    animation: flutter 2s infinite linear;

    @include on-mobile {
      @include scale(font-size, 14px);
    }
  }

  .author-introduction {
    @include scale(line-height, 1.4);
    font-size: 90%;

    @include on-mobile {
      @include scale(font-size, 12px);
    }
  }

  .author-socials {
  }

  a {
    font-size: 80%;
    @include scale(margin-top, 8px);

    @include on-mobile {
      @include scale(font-size, 10px);
    }

    &.visited {
      text-decoration: none;
    }
  }
}

@-webkit-keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
