@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .tag {
    margin-right: 10px;
    font-size: 11px;
    background: #ffaba1;
    padding: 1px 7px;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    color: black;
  }
  .date {
    font-size: 13px;
    opacity: 0.9;
  }
  h3 {
    margin-top: 6px;
    font-size: 25px;
  }

  p {
    line-height: 1.4;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    margin-left: 15px;
    margin-top: 15px; // 큐트리 님의 경우는 30px로 설정하셨음!
    transition: all 0.3s;
  }
}
.thumbnail:hover img {
  transform: scale(1.15);
  transition: 0.3s;
}

.thumbnail.visible {
  opacity: 1;
}
