body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .category-container {
    @include scale(border-top-width, 1px);
    @include scale(border-bottom-width, 1px);
    @include scale(border-right-width, 6px);
    @include scale(border-left-width, 6px);
    border-style: solid;
    border-color: $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      @include scale(border-width, 1px);
      border-style: solid;
      border-color: $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        @include scale(border-width, 2px);
        border-style: solid;
        border-color: $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3,
    span.date {
      color: $dark-light-font-color;
      transition: 0.3s;
    }
    p {
      color: $dark-thumbnail-description-font-color;
    }
    &:hover {
      // text-shadow: $dark-hover-text-shadow;
      h3 {
        color: yellowgreen;
      }
    }
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  blockquote {
    @include scale(border-left-width, 4px);
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, 0.3);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
  td {
    @include scale(border-bottom-width, 1px);
    border-bottom-style: solid;
    border-bottom-color: #eee;
  }
}
