@import '../../styles/variables.scss';

.category-container {
  @include scale(column-gap, 6px);
  @include scale(padding, 6px 20px);
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  top: 0;
  line-height: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  z-index: 1;

  @include on-mobile {
    @include scale(padding, 5px 10px);
    @include scale(column-gap, 5px);
  }

  .item {
    @include scale(border-radius, 15px);
    display: inline-block;
    white-space: normal;
    box-sizing: border-box;
    cursor: pointer;

    div {
      @include scale(padding, 15px);
      @include scale(font-size, 13px);
      display: block;
      box-sizing: border-box;

      @include on-mobile {
        @include scale(padding, 12px);
        @include scale(font-size, 11px);
      }
    }
  }

  .item:last-child {
    margin-right: 0;
  }
}

.category-container::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.category-container {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  .my-smooth-container {
    scroll-behavior: auto;
  }
}
