.container {
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  border-left: 0.5rem solid black;
  background: #f7f6f3;
  border-radius: 0.5rem;

  &.normal {
    background: #f7f6f3;
  }

  &.warning {
    border-left-color: rgb(119, 32, 115);
    background: #f7f6f3;
  }

  &.error {
    border-left-color: red;
  }
}